@import url(estilos.css);
:root {
  --bg-color-pantalla-inicio: rgb(17, 52, 72, 0.6);
  --bg-color-principal: rgb(17, 52, 72);
  --bg-color-secundario: #14bf98;
}

.card-curso {
  width: 18%;
  height: 10rem;
  display: inline-block;
  margin: 20px 5px 5px 5px;
  min-width: 230px;
  min-height: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.container-cursos {
  width: 95%;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  /* padding-bottom: 10vh; */
  text-align: center;
}

.cursos-categoria-menu {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.cursos-categoria-menu li {
  margin-bottom: 5px;
  color: white;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  background-color: var(--bg-color-secundario);
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.cursos-categoria-menu li:hover {
  background-color: var(--bg-color-pantalla-inicio);
}

.cursos-categoria-menu li:active {
  background-color: var(--bg-color-principal);
}

.link-cat {
  color: white;
}
