* {
  margin: 0;
  padding: 0;
  font-family: Candara, Verdana, sans-serif;
}

:root {
  --bg-color-pantalla-inicio: rgb(17, 52, 72, 0.6);
  --bg-color-principal: rgb(17, 52, 72);
  --bg-color-secundario: #14bf98;
  --radio-borde-div: 20px;
  --margin-div-img: 1.5rem;
}
a {
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

img:hover {
  transition: 2s;
  transform: scale(1.1, 1.1);
  border-radius: 20px;
  /* box-shadow: 0 0 8px 8px white inset; */
}

button {
  margin-bottom: 5px;
  color: white;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  background-color: var(--bg-color-secundario);
  border-radius: 5.5px;
  border-width: 0;
  justify-items: center;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

button:hover {
  width: 7.3em;
  height: 2.2em;
  /* background: var(--bg-color-principal); */
  /* padding: 10px 30px 10px 30px; */
}

button:active {
  border-color: var(--bg-color-secundario);
  background: var(--bg-color-principal);
}

h1 {
  padding-top: 2rem;
}

h2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

p {
  line-height: 25px;
}

#boton-VerMas {
  text-align: center;
}
/*CSS DEL INICIO DE PANTALLA COMPLETA*/

.contenedor-home {
  height: 93vh; /*
  background-image: url(https://drive.google.com/uc?id=13DsfW76MPJbDWFh7qMKB58C8brY7khuF);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;*/
  overflow: hidden;
}
.contenedor-inicio {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contenedor-inicio::after {
  content: "";
  background: var(--bg-color-pantalla-inicio);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.contenedor-titulo {
  position: absolute;
  margin-right: 17%;
  z-index: 1;
}

.opcionNav {
  text-decoration: none;
  color: white;
  padding: 1px 0.5em 0px 0.5em;
  /* cursor: none; */
}

.opcionNav:hover {
  font-size: 1.3rem;
  font-weight: 550;
  border-style: solid;
  border-width: 2px;
  border-color: var(--bg-color-secundario);
  border-radius: 10px;
  color: var(--bg-color-secundario);
}

.titulo {
  text-align: center;
  color: #fff;
  font-family: Candara;
}
.nombre {
  font-size: 4rem;
  text-transform: uppercase;
}

.subtitulo {
  font-size: 1.5rem;
}
.boton {
  border: solid 1px #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  margin: 2rem auto;
  width: 100px;
  transition: all 0.3s ease-in;
}
.titulo.boton img {
  height: 0.7em;
  display: none;
}

.titulo.boton:hover {
  background: var(--bg-color-principal);
  width: 115px;
}
.titulo.boton:hover img {
  display: initial;
}
.main {
  width: 100%;
  height: 30vh;
}

/*CSS DEL MENU SUPERIOR (NAV)*/

.barra-menu {
  display: block;
  max-width: 100%;
  /* height: 7.5vh; */
  height: 3em;
  background: var(--bg-color-principal);
  position: sticky;
  top: 0;
}
.barra-menu ul {
  display: flex;
  max-width: 1024px;
  font-size: 1.2rem;
  margin: auto;
}
.barra-menu ul li {
  display: block;
  flex-grow: 1;
  padding: 2vh 0;
  cursor: pointer;
}

/* CSS DEL CONTAINER "NOSOTROS" */

.container-nosotros {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-around; */
}

.container-somos {
  background-color: var(--bg-color-pantalla-inicio);
  color: white;
  padding: 1.5rem 1rem;
  border-radius: var(--radio-borde-div);
  /* margin: 2rem 1rem; */
  /* margin: 0 auto; */
  margin-bottom: var(--margin-div-img);
  width: 40%;
}

.container-elegirnos {
  background-color: var(--bg-color-principal);
  border-radius: var(--radio-borde-div);
  padding: 1rem 1rem 1.5rem 1rem;
  text-align: justify;
  margin-bottom: var(--margin-div-img);
  width: 40%;
}

.container-elegirnos ul {
  margin: 1.5rem;
}

.img-somos {
  /* border-right-style: solid;
  border-width: 7px;
  border-color: var(--bg-color-principal);
  border-top-right-radius: var(--radio-borde-div); */
  width: 35%;
  min-width: 250px;
  display: inline-block;
  height: auto;
  margin: var(--margin-div-img);
}

.img-somos img {
  width: 100%;
}

/*CSS DEL FOOTER*/
.contacto {
  padding: 10px;
  background-color: var(--bg-color-principal);
}

.containter-footer-body {
  display: flex;
  justify-content: space-around;
  max-width: 1024px;
  text-align: justify;
  margin: 7vw;
  margin-top: 3%;
}
.columns,
.columns a,
.columns li {
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding-top: 10px;
}

.columns a:hover {
  color: var(--bg-color-secundario);
}

.column1 {
  width: 40%;
}

.column2 {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.container-footer p {
  display: block;
  padding: 0px 10px;
  /* margin: 25px 0; */
  padding: 7px 7px;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  background-color: var(--bg-color-secundario);
}
/*CSS Carousel*/
.container-slider {
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  border-radius: 0.8em;
  position: relative;
  z-index: -1;
}
.slider {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%;
}
.slider-section {
  width: 100%;
}
.slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.btn:hover {
  background: #fff;
}
.btn-rigth {
  font-weight: bold;
  font-size: 2em;
  right: 10px;
}
.btn-left {
  font-weight: bold;
  font-size: 2em;
  left: 10px;
}

.slider-section .item_description {
  position: absolute;
  display: flex;
  margin-top: 15%;
  margin-left: 30%;
  max-width: 45%;
  height: 60%;
  border-radius: 0.3em;
  background: rgba(255, 255, 255, 0.815);
  flex-direction: column;
}

.slider-section .item_description h2 {
  margin-top: 5%;
  text-align: center;
}

.slider-section .item_description p {
  margin-left: 8%;
  margin-right: auto;
  margin-bottom: 5%;
}

.slider-section .item_description input {
  max-width: 80px;
  margin-left: 33%;
}
/*CSS GRID*/
.contenedor-grid {
  display: flex;
  width: 100%;
  justify-content: center;
  display: flex;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
  padding: 20px;
  grid-auto-flow: dense;
  width: 80vw;
}
.grid_item {
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
  height: 220px;
}
.grid_img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.grid_item img:hover {
  transition: 2s;
  transform: scale(1.2, 1.2);
}
@media (min-width: 550px) {
  .grid_item:nth-child(4) {
    grid-row: span 2;
    grid-column: span 2;
  }
  .grid_item:nth-child(5) {
    grid-column: span 2;
  }
  .grid_item:nth-child(6) {
    grid-row: span 1;
  }
}
/*SLIDER INICIO*/
.contenedor {
  width: 100%;
  overflow: hidden;
}

.slider-contenedor {
  width: 100%;
  display: flex;
}

.contenido-slider {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-shrink: 0;
  object-fit: cover;
}
.contenido-slider > img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .contenido-slider > img {
    width: 100%;
    height: 100%;
  }
  .contenedor-titulo {
    position: absolute;
    margin-right: 17%;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .contenido-slider {
    flex-direction: column-reverse;
  }
  .contenedor-titulo {
    position: absolute;
    margin: auto;
  }
}

@media screen and (max-width: 780px) {
  /*CSS DEL FOOTER*/
  .contacto {
    padding: 10px;
    background-color: var(--bg-color-principal);
  }

  .containter-footer-body {
    display: flex;
    flex-wrap: wrap;
    text-align: initial;
  }
  .columns,
  .columns a,
  .columns li {
    color: #fff;
    list-style: none;
    text-decoration: none;
    width: 100%;
  }
  .column1,
  .column2 {
    border-bottom: solid 1px var(--bg-color-secundario);
    padding: 10px 0;
  }
}
