@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .contenedor-titulo {
    min-width: 100%;
  }
  .contenido-slider > img {
    width: 100%;
    height: 100%;
  }

  /*CSS DEL FOOTER*/
  .contacto {
    padding: 7%;
    background-color: var(--bg-color-principal);
  }

  .containter-footer-body {
    display: flex;
    flex-wrap: wrap;
    text-align: initial;
  }
  .columns,
  .columns a,
  .columns li {
    color: #fff;
    list-style: none;
    text-decoration: none;
    width: 100%;
  }
  .column1,
  .column2 {
    border-bottom: solid 1px var(--bg-color-secundario);
    padding: 10px 0;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .contenedor-home,
  .contenedor-inicio::after {
    max-height: 40vh;
  }
  .barra-menu {
    height: 4em;
  }
  .barra-menu nav {
    background: #113448;
  }
  /*
  .barra-menu ul {
    display: none;
    height: 0px;
    overflow: hidden;
  }*/
  .barra-menu ul li {
    padding: 1em 0;
    line-height: 2em;
  }
  /*
  .barra-menu .menu-icon {
    display: block;
    padding: 0.1em 0.3em;
    font-size: 2.5em;
    text-align: right;
  }
  .barra-menu .menu-icon::before {
    content: "\2261";
  }
  #toggle:checked + label::before {
    content: "x";
  }
  #toggle:checked ~ ul {
    display: initial;
  }
  /* este despliega el menú xddx */
  /*#toggle:checked ~ ul > li {
    background: #113448;
  }

  .opcionNav:active ~ .barra-menu ul {
    display: none;
    height: 0px;
    overflow: hidden;
  }*/
  .opcionNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .opcionNav > span {
    font-size: 0.7em;
  }
  .opcionNav > i {
    font-size: 1.5em;
  }
  .opcionNav:hover {
    padding: 0;
    font-size: 1em;
    font-weight: initial;
    border: none;
    border-radius: 0px;
    color: var(--bg-color-secundario);
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  .contenedor-home,
  .contenedor-inicio::after {
    max-height: 30vh;
  }
}

@media (max-width: 321px) {
  body {
    font-size: 10px;
  }
  .contenedor-home,
  .contenedor-inicio::after {
    max-height: 30vh;
  }
}

/* media query para elegirnos-grid (index.html) y nosotros.html  */
@media (max-width: 600px) {
  .elegirnos-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .mision,
  .vision,
  .img-vision,
  .img-mision {
    width: 65%;
  }
}
