:root {
    --bg-color-pantalla-inicio: rgb(17, 52, 72, 0.6);
    --bg-color-principal: rgb(17, 52, 72); 
    --bg-color-secundario: #14bf98;
    --radio-borde-div: 20px;
    --margin-div-img: 1.5rem;
  }
        .Tarjeta-Contenedor{
            display: flex;
            width: 55em;
            height: auto;
            border-radius: 10px;
            margin: 50px auto 50px auto;
            border:2px solid #14bf98;
            overflow: hidden;
        }
        .left,.rigth{
            width: 50%;
        }
        .left{
			font-size: 25px;
			float: left;
        }
        .number{
            width: 100%;
            display: flex;
            margin-top: 10px;
            justify-content: center;
            margin-left: 10px;
        }
        input[type="text"]{
            height: 35px;
            width: 20%;
			border:none;
			border-radius: 15px;
            background-color: #97cdf1;
            font-size: 20px;
            text-align: center;
        }
		input[type="text"]:focus{
            box-shadow: none;
            outline:none;
            background-color: #aad5f1;
            font-size: 20px;
        }
        input[type="submit"]{
            width: 200px;
            height: 40px;
            border: 4px solid #14bf98;
            cursor:pointer;
            font-size: 20px;
            margin-left: 25%;
            border-radius:20px ;
            background-color: #ffffff00;
        }
        input[type="submit"]:hover{
            background-color: #14bf98;
        }
        #cci{
            width: 70%;
            margin: 15px 0px 5px 60px;
        }
        
        .left p{
            margin-top: 1em;
            margin-left: 50px;
        }
        .rigth{
            display: flex;
            align-items: center;
            justify-content: center;
			float: right;
        }
        .rigth>img{
            width: 90%;
        }
        .rigth>img:hover{
            width: 90%;
        }
        .option{
            width: 100%;
            display: flex;
            margin-top: 15px;
            justify-content: center;
        }
        .BankOption{
            display: flex;
            width: 80px;
            height: 50px;
            margin-left: 15px;
        }
        .BankOption:hover{
            border: 3px solid #14bf98;
            border-radius: 5px;
        }
        .BankOption img{
            margin: auto;
            width: 70px;
            cursor: pointer;
        }
        [type=radio]{
            display: none;
        }
        [type=radio]:checked + .BankOption{ 
            border-radius: 5px;
            background-color: #14bf98;
          }
        @media (max-width:900px) {
            .Tarjeta-Contenedor{
                width: 25em;
            }
            .left{
                width: 100%;
            }
            .rigth{
                display: none;
            }
        }
        @media (max-width:400px) {
            .left{
                display: flex;
                width: 100%;
                transform: scale(0.8);
                justify-content: center;
            }
            #cci{
                margin-left:15%;
            }
            input[type="submit"]{
                margin-left: 15%;
            }
        }