$bg-color-pantalla-inicio: rgba(17, 52, 72, 0.6);
$bg-color-principal: rgb(17, 52, 72);
$bg-color-secundario: #14bf98;
$radio-borde-div: 20px;
$margin-div-img: 1.3rem;
$sombra-color: rgba(20, 191, 152, 0.4) 5px 5px,
    rgba(20, 191, 152, 0.3) 10px 10px, rgba(20, 191, 152, 0.2) 15px 15px;
$btn-color-hover: #6A808D;

.group {
    margin: auto;
    padding: 2em;
    max-width: 340px;
    min-height: 600px;
    box-sizing: border-box;
}

.frmCategoria {
    display: flex;
    flex-direction: column;
    margin:  auto;
    max-width: 320px;
    input:not([type=submit]), select{
        border: 2px solid $bg-color-secundario;
        border-radius: 5px;
        line-height: 1.5em;
        margin: 0.5em 0;
    }
}