* {
  padding: 0;
  margin: 0; }

label {
  display: inline-block;
  width: 10vw; }

.container {
  height: auto;
  display: flex;
  flex-direction: column; }

.container h2 {
  text-align: center; }

#form-persona {
  height: auto;
  width: 40vw;
  margin: auto;
  padding: 2rem; }

#form-persona input:not([type="submit"]), select {
  border: 2px solid #14bf98;
  border-radius: 5px;
  padding: 5px;
  width: 14rem; }

#form-persona input[type="submit"] {
  width: 10rem;
  height: 2rem;
  font-size: 1.15rem;
  background-color: #14bf98;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
  margin: 1rem; }
