* {
  padding: 0;
  margin: 0; }

#form-persona label {
  display: inline-block;
  width: 10vw; }

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.container h2 {
  text-align: center; }

#form-persona, #form-salir {
  height: auto;
  margin: auto;
  padding: 2rem; }

#form-salir {
  text-align: center; }

#form-salir input {
  cursor: pointer; }

#form-persona input:not([type="submit"]), select {
  border: 2px solid #14bf98;
  border-radius: 5px;
  padding: 5px;
  width: 14rem; }

#form-persona input[type="submit"] {
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1.15rem;
  background-color: #14bf98;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
  margin: 1rem; }

#form-persona input[type="submit"]:active {
  width: 10rem;
  height: 2rem;
  font-size: 1.15rem;
  background-color: #14bf98;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
  margin: 1rem; }

#form-persona input[type="button"]:hover {
  background-color: #113448;
  cursor: pointer;
  color: white; }

#form-salir input {
  width: 10rem;
  height: 2rem;
  font-size: 1.15rem;
  background-color: #14bf98;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
  margin: 1rem; }

.divP-btn {
  margin: auto;
  display: flex;
  justify-content: center; }
