:root {
  --bg-color-pantalla-inicio: rgb(17, 52, 72, 0.6);
  --bg-color-principal: rgb(17, 52, 72);
  --bg-color-secundario: #14bf98;
  --radio-borde-div: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Candara, Verdana, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  width: 95vw !important;
}
.carousel {
  width: 90% !important;
  height: 550px !important;
}
.carousel-item {
  margin-left: 2px;
  border-radius: 10px;
  width: 250px !important;
  height: 380px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-color-principal);
}

.carousel-item img {
  margin-top: 13%;
  width: 140px !important;
  height: 140px !important;
  border-radius: 50%;
  object-fit: cover;
}
.item-description {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  color: #fff;
  text-align: center;
}
.item-description h3 {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: -15px;
  font-size: 90%;
}
.item-description h2 {
  margin-top: -2px;
  font-size: 125%;
}
@media (max-width: 280px) {
  .carousel-item {
    width: 75% !important;
    left: -3% !important;
  }
  .carousel {
    width: 100% !important;
    perspective: 450px !important;
  }
}
@media (max-width: 320px) {
  .carousel-item {
    width: 75% !important;
    margin-left: 5% !important;
  }
  .carousel {
    width: 100% !important;
    perspective: 450px !important;
  }
}
