.carousel {
  background-color: #4169e1;
}
.carousel .carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.carousel .carousel-item p {
  position: absolute;
  top: 50%;
  left: 50%;
}
.carousel .carousel-item img {
  width: 600px !important;
  height: 300px !important;
  object-fit: cover;
  height: 27rem;
}
